*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #EDEDED;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

#wrapper {
    display: flex;
    gap: 2rem;
}