*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #EDEDED;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidebar {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.grid-size-display {
    font-size: 1.5rem;
    color: #333333;
}

/*********** Baseline, reset styles ***********/
.grid-size-selector {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 12rem;
  }
  
  /* Removes default focus */
  .grid-size-selector:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  .grid-size-selector::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    height: 0.7rem;
  }
  
  /* slider thumb */
  .grid-size-selector::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -9.6px; /* Centers thumb on the track */
    background-color: #333333;
    border-radius: 1.5rem;
    height: 1.7rem;
    width: 1.7rem;
  }
  
  .grid-size-selector:focus::-webkit-slider-thumb {
    outline: 3px solid #333333;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .grid-size-selector::-moz-range-track {
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    height: 0.7rem;
  }
  
  /* slider thumb */
  .grid-size-selector::-moz-range-thumb {
    background-color: #333333;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 1.5rem;
    height: 1.7rem;
    width: 1.7rem;
  }
  
  .grid-size-selector:focus::-moz-range-thumb{
    outline: 3px solid #333333;
    outline-offset: 0.125rem;
  }  

#grid-container {
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
}

.color-picker, input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
    height: 80px;
    width: 90px;
}